<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1" parallel="false">
	<test name="SampleTest-1-">
		<parameter name="Device_Platform" value="Android" />
		<parameter name="Device_ID" value="LGH8605b04963d" />
		<parameter name="Script_Name" value="SampleTest" />
		<parameter name="DeviceName" value="1st_77_Jeanne" />
		<classes>
			<class name="com.raftt_m.testscripts.SampleTest" />
		</classes>
	</test>
</suite>